extends /layout/_application
block body
  h1.ttl-main
    img(src="img/common/logo.png" alt="あなたは今何歳？")
  div.wrapper
    div.social_container
      include /include/embed/_tweet
      include /include/embed/_facebook
    div.portrait_container
      div.portrait_row
        p.portrait
    p.search_container
      input.search(type="text" value="あなたは今何歳？")
      button.enter
        img(src="img/common/search.png" alt="探す")
  div.result_container.close
    div.result
      div.info
        p.name
        p.age_container <span class="age"><span class="num"></span>歳</span>のとき、
        p.episode
      p.portrait
      p.logo
        img(src="img/common/logo.png" alt="あなたは今何歳？")
  div.year_container
    div.year_bar
      - var year;
      - for(var i=0; i<250; i++){
        - year = i * 10;
        p.year(data-year="#{year}") #{year}
      - }
      p.pin
        img(src="img/common/pin.png" alt="ピン")
  div.lock
    p.password_container
      input.password(type="text" value="Enter Password.")
      button.enter ENTER
