.wrapper
  .ttl
    position: absolute
    +trbl(auto, auto, 20px, 20px)
    +image-size("common/logo.png")

  /* -------------------------
   * social
  /* -------------------------
  .social_container
    display: none
    position: absolute
    +trbl(30px, 30px, auto, auto)
    width: 300px
    height: 20px
    +pie-clearfix

  .social
    float: right
    max-width: 100px
    margin-right: 15px

    &:first-child
      margin-right: 0

  /* -------------------------
   * portrait
  /* -------------------------

  .portrait_row
    margin-top: 30px
    +clearfix

    &:nth-child(odd)
      +animation(slide 150s linear 0s infinite)
    &:nth-child(even)
      +animation(slide_another 150s linear 0s infinite)

  .portrait
    $img: "portrait/2.png"
    $ratio: image-width($img) / 110px
    float: left
    +image-size($img, true, $ratio)
    margin: 0 20px

    img
      opacity: 0
      +transition(opacity 1s ease 0s)

      &.show
        opacity: 1

  /* -------------------------
   * candle
  /* -------------------------
  .candle_container
    position: absolute
    +trbl(50%, 0, auto, 0)
    width: (image-width("common/candle.png") + 66px) * 40
    margin-top: -60px
    +animation(candle_slide 30s linear 0s infinite)

  .candle
    float: left
    +image-size("common/candle.png")
    margin: 0 33px

  /* -------------------------
   * search
  /* -------------------------

  .search_container
    $search_width: 280px
    $search_height: image-height("common/search.png")
    position: absolute
    +trbl(50%, 0, auto, 0)
    width: $search_width
    height: $search_height
    margin: 170px auto 0

    .search
      float: left
      width: $search_width - image-width("common/search.png")
      height: $search_height
      line-height: $search_height
      padding: 0 10px
      font-size: 18px
      color: #777
      border: solid 3px #000

      &.on
        font-size: 28px
        color: #000

    .enter
      float: left
      +image-size("common/search.png")
      @extend %hoverEffect
      @extend %activeEffect
