.wrapper
  /* -------------------------
   * social
  /* -------------------------
  .social_container
    display: none
    position: absolute
    +trbl(30px, 30px, auto, auto)
    width: 300px
    height: 20px
    +pie-clearfix

  .social
    float: right
    max-width: 100px
    margin-right: 15px

    &:first-child
      margin-right: 0

  /* -------------------------
   * portrait
  /* -------------------------

  .portrait_row
    margin-top: 30px
    +clearfix

    &.anim
      &:nth-child(odd)
        +animation(slide 150s linear 0s infinite)
      &:nth-child(even)
        +animation(slide_another 150s linear 0s infinite)

  .portrait
    $img: "portrait/2.png"
    $ratio: image-width($img) / 110px
    float: left
    +image-size($img, true, $ratio)
    margin: 0 20px

    button
      @extend %hoverEffect
      @extend %activeEffect

    img
      opacity: 0

      &.show
        opacity: 1

  /* -------------------------
   * search
  /* -------------------------

  .search_container
    $search_width: 800px
    $search_height: image-height("common/search.png")
    position: absolute
    +trbl(0, 0, $footer_height, 0)
    width: $search_width
    height: $search_height
    margin: auto
    box-shadow: 0 0 6px 0px #333
    opacity: 0

    .search
      float: left
      width: $search_width - image-width("common/search.png")
      height: $search_height
      line-height: $search_height
      padding: 0 10px
      font-size: 18px
      color: #777
      border: solid 3px #000

      &.on
        font-size: 28px
        color: #000

    .enter
      float: left
      position: relative
      +image-size("common/search.png")

      &:before
        position: absolute
        +trbl(0, 0, 0, 0)
        background-color: #fff
        content: ""

      img
        position: relative
        @extend %hoverEffect
        @extend %activeEffect

  /* -------------------------
   * illust
  /* -------------------------

  .illust-wright
    $img: "illust/wright.png"
    position: fixed
    +trbl(30px, -1.2 * image-width($img), auto auto)
    +image-size($img)

  .illust-columbus
    $img: "illust/egg.png"
    position: fixed
    +trbl(-0.6 * image-height($img), 0, auto, 0)
    +sprite($img, 2)
    margin: auto

    &.break
      +sprite-position($img, 2, 1)

  .illust-oh
    $img: "illust/ball.png"
    position: fixed
    +trbl(auto, auto, $footer_height + 42px, -1.2 * image-width($img))
    +image-size($img)

  .illust-newton
    position: fixed
    +trbl(auto, auto, $footer_height + 42px, 0)

    &.fall
      .illust-newton_chara_container
        &:before,
        &:after
          top: 42px

      .illust-newton_tree
        &:before
          top: 232px

  .illust-newton_chara_container
    $img: "illust/newton.png"
    position: absolute
    +trbl(auto, auto, 0, -1.2 * image-width($img))

    @for $i from 1 through 3
      &[data-id="#{$i}"]
        .illust-newton_chara
          +sprite-position($img, 3, ($i - 1))

    &[data-id="3"]
      &:before,
      &:after
        display: block
        position: absolute
        width: 5px
        height: 5px
        border-radius: 50%
        background-color: #000
        overflow: hidden
        +transition(top, 0.5s, ease, 0s)
        content: ""

      &:before
        +trbl(37px, auto, auto, 67px)

      &:after
        +trbl(37px, auto, auto, 77px)

  .illust-newton_chara
    $img: "illust/newton.png"
    +sprite($img, 3)

  .illust-newton_tree
    display: none
    position: absolute
    +trbl(auto, auto, 0, 500px)
    +image-size("illust/newton_tree.png")

    &:before
      display: block
      position: absolute
      +trbl(65px, auto, auto, 40px)
      width: 16px
      height: 16px
      border-radius: 50%
      background-color: #DA3F33
      border: 4px solid #000
      +transition(top, 0.5s, ease, 0s)
      content: ""

  .illust-beethoven
    position: fixed
    +trbl(300px, 30px, auto, auto)

  .illust-beethoven_tone
    position: absolute
    @for $i from 1 through 4
      &:nth-child(#{$i})
        +trbl(0, -200px - 200px * $i, auto, auto)

  .illust-zuckerberg
    $img: "illust/zuckerberg.png"
    position: fixed
    +trbl(auto, -1.2 * image-width($img), $footer_height + 42px + 30px, auto)
    +image-size($img)
