.result_container
  //display: none
  position: absolute
  +trbl(0, 0, 0, 0)
  min-width: $minWidth
  min-height: $minHeight
  background-color: rgba(254, 253, 245, 0.8)

  #{$is_sp}
    min-width: 0
    min-height: 0

  &.withoutPortrait
    .result
      .portrait
        display: none !important

      .info
        width: auto

      .portrait_txt
        margin-top: 30px
        font-size: 16px

  &.nobody
    .result
      .info,
      .portrait,
      .portrait_txt,
      .social_container
        display: none !important

      .nobody_container
        display: block

  .result
    $padding: 30px
    position: absolute
    +trbl(0, 0, $footer_height, 0)
    width: 640px
    margin: auto
    padding: $padding
    background-color: rgba(254, 253, 245, 0.9)
    border: 3px solid #000
    border-radius: 10px
    opacity: 0

    &.no-result
      .portrait,
      .portrait_txt,
      .info,
      .social_container
        display: none !important

    #{$is_sp}
      width: 560px

    .portrait
      $img: "portrait/2.png"
      $ratio: image-width($img) / 120px
      position: relative
      +image-size($img, true, $ratio)
      margin: 20px auto 0

      #{$is_sp}
        width: 210px
        height: 275px

      img
        position: absolute
        +trbl(0, auto, auto, 0)
        opacity: 0

    .portrait_txt
      opacity: 0
      text-align: center
      margin-top: 5px
      font-size: 12px

      #{$is_sp}
        font-size: 14px

    .portrait_title
      &:before
        content: " / "

    .info
      margin: 0 auto
      text-align: center
      font-size: 24px
      opacity: 0

      #{$is_sp}
        font-size: 28px

    // nobody
    .nobody_container
      display: none

    .nobody_ttl
      margin-top: 30px
      text-align: center
      font-weight: bold
      font-size: 24px

    .nobody_pic
      margin-top: 30px
      text-align: center

      #{$is_sp}
        margin-top: 80px

    .name_container
      line-height: 1.4

    .name
      font-size: 36px
      font-weight: bold

      #{$is_sp}
        font-size: 42px

    .age_container
      line-height: 1.4
      .age
        margin: 0 5px
        font-size: 36px
        font-weight: bold

        #{$is_sp}
          font-size: 42px

      .num
        margin: 0 5px
        font-weight: bold

    .episode
      margin-top: 10px

    .link
      margin-top: 20px
      font-size: 14px
      font-weight: bold
      text-decoration: underline
      text-align: right

    .logo
      position: absolute
      +trbl(auto, 35px, 35px, auto)
      +image-size("common/logo.png", true, 2)
      +bg("common/logo.svg")
      @extend %hideText

    .logo-superstar
      $bg: "superstar/logo.png"
      display: none
      position: absolute
      +trbl(auto, -70px, -50px, auto)
      +image-size($bg)
      +bg($bg)
      opacity: 0
      @extend %hideText

    .social_container
      display: none
      position: absolute
      +trbl(auto, auto, 35px, 35px)

    .social
      position: absolute
      width: 40px

      #{$is_pc}
        @extend %hoverEffect
        @extend %activeEffect

      img
        width: 100%

    .tweet
      +trbl(auto, auto, 0, 0)

    .facebook
      +trbl(auto, auto, 0, 50px)
      cursor: pointer

    .close_container
      display: none
      visibility: hidden
      position: absolute
      +trbl(0, 0, auto, auto)

    .skip
      display: none
      position: absolute
      +trbl(auto, -10px, -60px, auto)
      +image-txt("common/skip.png")
      cursor: pointer

      #{$is_pc}
        @extend %hoverEffect
        @extend %activeEffect
