.result_container
  display: none
  position: absolute
  +trbl(0, 0, 0, 0)
  min-width: $minWidth
  min-height: $minHeight
  background-color: rgba(0, 0, 0, 0.8)

  &.withoutPortrait
    .result
      .portrait
        display: none

      .info
        float: none
        width: auto

  .result
    $padding: 60px
    position: absolute
    +trbl(0, 0, 0, 0)
    width: 800px
    height: 480px
    margin: auto
    padding: $padding + 50px $padding $padding $padding
    background-color: rgba(255, 255, 255, 0.9)
    border-radius: 10px

    .candle
      position: absolute
      +trbl($padding / 2, 0, auto, 0)
      +image-size("common/candle.png")
      margin: auto
    
    .portrait
      $img: "portrait/2.png"
      $ratio: image-width($img) / 160px
      float: left
      +image-size($img, true, $ratio)

    .info
      float: right
      width: 460px

    .name
      font-size: 24px
      font-weight: bold

    .episode
      margin-top: 10px
      font-size: 16px

    .age
      margin-top: 30px
      text-align: right
      font-size: 28px

      .num
        font-weight: bold
