.sp
  display: none

body
  background-color: $gray 

.italic
  font-style: italic

.ttl-main
  position: absolute
  +trbl(auto, auto, 20px, 20px)
  +image-size("common/logo.png")
  z-index: index($zIndex, "ttl-main")

.wrapper
  position: absolute
  +trbl(0, 0, 0, 0)
  min-width: $minWidth
  min-height: $minHeight
  overflow: hidden

  &:before
    $bg: "common/filter.png"
    position: absolute
    +trbl(auto, 0, 0, 0)
    height: image-height($bg)
    +bg($bg, auto, repeat)
    content: ""

/*-------------------------
 * lock
/*-------------------------

.lock
  $pass_width: 300px
  $pass_height: 30px
  position: absolute
  +trbl(0, 0, 0, 0)
  background-color: $gray

  .password_container
    position: absolute
    +trbl(0, 0, 0, 0)
    width: $pass_width
    height: $pass_height
    margin: auto

    .password
      float: left
      width: $pass_width - 80px
      height: $pass_height
      padding: 0 10px

    .enter
      float: left
      width: 80px
      height: $pass_height
      background-color: #fff
      border-left: 1px solid $gray
      +transition(all 0.25s ease 0s)

      &:hover
        color: #fff
        background-color: #000
